body {
  padding: 20px;
  background: #c0f767;
}

.mainDiv {
  width: 530px;
  margin: 0 auto;
}

h2 {
  margin-left: 200px;
}

.submit {
  margin-top: 20px;
  border-radius: 5px;
  padding: 7px;
  border: none;
  background: #c92020;
  color: #ffffff;
}

.submit:active {
  border: 1px solid #000;
}